@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500&family=Rakkas&family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.drp {
    display: none;
    position: absolute;
    background-color: darkgray;
    padding: 0px 0px 0px 0px;
      }
      
    .drpdwn:hover  .drp {
        display: flex;
        flex-direction: column;
    }
nav li {
display: inline-block;
}


header {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 35px;
    background-color: darkgrey;
    align-items: center;
}
.hom {
    display: flex;
    justify-content: space-around;
}
.homtext {
    display: flex;
    text-align: center;
    /* padding: 0 205px 0 205px; */
    /* align-items: center; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 450px;
    justify-content: space-evenly;
    font-size: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   display: block;
    
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 25px 0 25px;
    text-decoration: none;
    font-size: 25px;  
  }

  li a:hover{
    background-color: lightgray;
    
  }
.drp li {
    padding: 10px 0 5px 0;
    margin: 0;
}
.resume h1 {
    font-size: 30px;
}
.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

#pop {
    font-weight:bolder;
    font-size: 25px;

}
#pop a {
    text-decoration: none;
    color: black;
}
#pop a:hover {
    color:red;
}
.hombtn {
    display: inline-block;
    border-radius: 25px;
    background-color: #707d87;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.hombtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .hombtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .hombtn:hover span {
    padding-right: 25px;
  }
  
  .hombtn:hover span:after {
    opacity: 1;
    right: 0;
  }
  