@import url('https://fonts.googleapis.com/css2?family=Changa:wght@400;500&family=Rakkas&family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.drp {
    display: none;
    position: absolute;
    background-color: darkgray;
    padding: 0px 0px 0px 0px;
    border-radius: 0 0 30px 30px;
      }
      
    .drpdwn:hover  .drp {
        display: flex;
        flex-direction: column;
    } 
nav li {
display: inline-block;
} 


header {
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 35px;
    background-color: darkgrey;
    align-items: center;
}
.hom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}
.homtext {
    display: flex;
    text-align: center;
    /* padding: 0 205px 0 205px; */
    /* align-items: center; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 450px;
    justify-content: space-evenly;
    font-size: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   display: block;
    
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    border-radius: 0 0 30px 30px;
    text-decoration: none;
    font-size: 25px;  
  }

  li a:hover{
    background-color: lightgray;
    
  }
.drp li {
    padding: 10px 0 5px 0;
    margin: 0;
}
.resume h1 {
    font-size: 45px;
}
.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0 30px 0;
}

#pop {
    font-weight:bolder;
    font-size: 25px;

}
#pop a {
    text-decoration: none;
    color: black;
}
#pop a:hover {
    color:red;
}
.hombtn {
    display: inline-block;
    border-radius: 25px;
    background-color: #707d87;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.hombtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .hombtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .hombtn:hover span {
    padding-right: 25px;
  }
  
  .hombtn:hover span:after {
    opacity: 1;
    right: 0;
  }
  .work {
    display: flex;
    flex-direction: column;
  }
  .work h1 {
    margin-bottom: 40px;
  }
  .contwrk {
    display: flex;
    align-content: space-between;
    margin: auto 0;
    font-size: 35px;
    height: 400px;
    align-items: center;
  }

  .tablo {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .tablo td , .tablo th {
    border: 2px solid #ddd;
    padding: 8px;
  }
  .tab {
    margin-bottom: 44px;
  }
  .tab h3 {
    text-align: center;
    margin-bottom: 15px;
  }
  .tablo td:hover {background-color: #707d87;
    cursor: pointer;
    color: rgba(242, 242, 242, 0.896);
  }
  .work h1 {
    font-size: 45px;

  }
  .work {
    margin-bottom: 50px;
  }
  .about {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .klem {
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
  }
  .titro h1 {
    font-size: 45px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }
  .contactinfo {
    display: flex;
    margin: auto 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    
  }
  .info {
    background-color: #707d87;
    height: 300px;
    line-height: 3;
    color: aliceblue;
    font-weight: bold;
    padding: 0 50px;
    border-radius: 30px;
  }
  .contact h2 {
    font-size: 45px;
    margin-bottom: 50px;

  }
  .msg input , textarea {
    width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }
  .msg {
    width: 100%;
  }
  .sndbtn {
    display: inline-block;
    border-radius: 25px;
    background-color: #707d87;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
  }
  .botn {
    text-align: center;
  }

  .sndbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .sndbtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .sndbtn:hover span {
    padding-right: 25px;
  }
  
  .sndbtn:hover span:after {
    opacity: 1;
    right: 0;
  }
  .footericons {
    font-size: 25px;
    text-align: center;
}
.footericons i {
  padding: 0 10px;
}
.footericons i:hover {
  font-size: 33px;
  transition: 0.3s;
}